@use "../../global";

.default-button-styling {
  border-radius: 10px;
  box-sizing: border-box;
}

.medium-orange-button {
  padding: 12px 24px;
  color: global.$white;
  background-color: global.$primary-color;

  border: 1px solid global.$secondary-color;
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.big-orange-button {
  @extend .medium-orange-button;
  padding: 12px 58px;
}

.small-orange-button {
  @extend .medium-orange-button;
  letter-spacing: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 16px;
  font-weight: 700;
}

.small-white-button {
  @extend .small-orange-button;
  color: global.$gray;
  background-color: global.$white;
  border: 1px solid global.$gray-two;
}
