$primary-color: #FBB900;
$secondary-color: #F0D075;
$background-color: #FEF6E7;
$white: #FFFFFF;
$gray: #9F9F9F;
$black: #4D4D4D;

html,
body {
    font-family: poppins, sans-serif;
    color: $gray;
}