.modal-background-settings {
  background: rgba(0, 0, 0, 0.54);
  z-index: 500;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.modal-settings {
  width: 769px;
  height: 355px;
}