html,
body {
  font-family: poppins, sans-serif;
  color: #9f9f9f;
}
html h1,
body h1 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  color: #ffffff;
}
html h2,
body h2 {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #4d4d4d;
}
html p,
body p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.text-orange {
  color: #fbb900;
  font-weight: 600;
}

.header-info-list {
  height: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.icon-distancing {
  margin-right: 10px;
}

.letter-spacing {
  margin-right: 3px;
}