.div {
  position: relative;
  margin-top: -2.5em;
  background-color: #041e50;
  width: 97%;
  height: 384px;
  z-index: -1;
}

.content {
  padding-top: 5em;
  color: white;
  display: flex;
  width: 90%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.content ul {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 10px;
}

.content ul li span {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 1em;
}

.content ul li {
  font-weight: normal;
}

.content ul li img {
  padding-left: 1em;
}

.row {
  width: 22%;
  height: 80%;
}
