.div {
  margin-right: 1em;
  width: 276px;
  height: 249px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #041e50;
}

.content {
  margin-top: 1em;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

.title {
  padding-top: 2.5em;
  padding-left: 2em;
  width: 224px;
  height: 31px;
  font-size: 13px;
  color: #041e50;
}
.title span {
  font-weight: bold;
}
