html,
body {
  font-family: poppins, sans-serif;
  color: #9f9f9f;
}
html h1,
body h1 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  color: #ffffff;
}
html h2,
body h2 {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #4d4d4d;
}
html p,
body p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.articles-section-container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles-container {
  display: flex;
}
.articles-container .adjust-arrow {
  margin-top: 169px;
}

.articles-cards-container {
  display: flex;
  justify-content: space-between;
  width: 1168px;
  margin-top: 25px;
  margin-bottom: 32px;
}