$bd: 1px solid #000;
$primaryColor: #FBB900;
$secondColor: #9F9F9F;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  // border-bottom: 1px solid black;
  // border-radius: 10px;

  .header-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .header-top {
    display: flex;
    justify-content: space-around;
    padding: 6px 0;

    div {
      display: flex;
      align-items: center;

      p {
        color: $secondColor;
      }

      img {
        padding-right: 9px;
      }
    }

    span {
      color: $primaryColor;
    }
  }

  .header-mid {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 2px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;

    form {

      input {
        width: 657px;
        height: 48px;
        border: none;
        border-radius: 15px;
        padding-left: 24px;
        background-color: #FEF6E7;
        background-image: url(../assets/header/mid/MagnifyingGlass.png);
        background-repeat: no-repeat;
        background-position: 96%;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding-left: 32px;
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        padding: 11px 0;

        a {
          display: flex;
          align-items: center;
          color: $secondColor;

          img {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

#banner {

  figure {
    position: relative;

    img {
      width: 100%;

    }

    figcaption {
      width: 387px;
      height: 252px;
      position: absolute;
      top: 119px;
      left: 144px;

      p {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
      }

      button {
        margin-top: 2rem;
        width: 131px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: $primaryColor;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

#categories {
  max-width: 90%;
  margin: 80px auto;

  h1 {
    color: #4D4D4D;
    margin-bottom: 24px;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  figure {

    img {
      border-radius: 15px;
    }

    figcaption {
      margin-top: 16px;
      color: $secondColor;
      text-align: center;
    }
  }
}

#vitrine {
  text-align: center;
  border: $bd;
  height: 400px;
}

#brand {
  max-width: 90%;
  margin: 80px auto;

  .brand-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: $bd;
    margin-bottom: 32px;

    h1 {
      color: #4D4D4D;
    }

    a {
      color: $primaryColor;
      border-bottom: 1px solid $primaryColor;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    li {
      width: 178px;
      height: 178px;
      box-shadow: 0px 8px 16px rgba(179, 134, 0, 0.12);
      border-radius: 20px;
      border: 1px solid #E5E5E5;
      display: flex;
      align-items: center;

      a {
        margin: 0 auto;
      }
    }
  }

  .brand-cards {
    display: flex;
    justify-content: space-between;

    figure {
      display: flex;
      border-radius: 20px;
      width: 574px;
      height: 350px;
      align-items: flex-end;

      figcaption {
        width: 250px;
        margin: 0 0 40px 40px;

        h1 {
          font-weight: 700;
          font-size: 32px;
          line-height: 48px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        button {
          height: 48px;
          background-color: $primaryColor;
          border: none;
          border-radius: 10px;
          color: #fff;
        }
      }
    }

    .card-1 {
      background-image: url(../assets/brand/parceiros.png);

      h1,
      p {
        color: #fff;
      }

      button {
        width: 131px;
      }

      img {
        border-radius: 20px;
        order: 2;
      }
    }

    .card-2 {
      background-color: #FEF6E7;
      justify-content: space-between;

      h1 {
        color: #4D4D4D;
      }

      p {
        color: #9F9F9F;
      }

      button {
        width: 156px;
      }

      div {
        display: flex;
        align-items: flex-end;
        order: 2;
      }
    }
  }
}

#blog {
  max-width: 90%;
  margin: 80px auto;

  h1 {
    margin-bottom: 32px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
  }

  figure {
    width: 277px;
    border-radius: 15px;
    background-color: #FEF6E7;

    img {
      border-radius: 15px 15px 0 0;
    }

    figcaption {
      width: 230px;
      margin: 0 auto;

      h1 {
        margin-top: 20px;
      }

      button {
        margin: 20px 0;
        width: 150px;
        height: 48px;
        background-color: $primaryColor;
        border: none;
        border-radius: 10px;
        color: #fff;
      }
    }
  }
}

#instagram {
  max-width: 90%;
  margin: 80px auto;

  .instagram-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    h1 {
      color: #4D4D4D;
    }

    a {
      color: $primaryColor;
      border-bottom: 1px solid $primaryColor;
    }
  }

  ul {
    display: flex;
  }
}

#newsletter {
  max-width: 90%;
  margin: 80px auto;

  div {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 772px;
    margin: 0 auto;
    background-color: #FEF6E7;

    h1 {
      width: 320px;
      margin: 40px 0 20px 0;
      text-align: center;
    }

    #name {
      width: 343px;
      height: 48px;
      border: 1px solid #E5E5E5;
      border-radius: 10px;
      background-image: url(../assets/form/User.png);
      background-repeat: no-repeat;
      background-position: 15px;
    }
    #name::placeholder {
      padding-left: 60px;
    }

    #email {
      width: 343px;
      height: 48px;
      border: 1px solid #E5E5E5;
      border-radius: 10px;
      margin-top: 10px;
      background-image: url(../assets/form/EnvelopeSimple.png);
      background-repeat: no-repeat;
      background-position: 15px;
    }
    #email::placeholder {
      padding-left: 60px;
    }
    button {
      width: 145px;
      margin: 32px 0;
      height: 40px;
      background-color: $primaryColor;
      border: none;
      border-radius: 10px;
      color: #fff;
    }
  }
}