$bd: 1px solid black;
$primaryColor: #FBB900;
$secondColor: #9F9F9F;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  max-width: 90%;
  margin: 0 auto;

  .header-top {
    display: flex;
    justify-content: space-around;
    padding: 6px 0;

    div {
      display: flex;
      align-items: center;

      p {
        color: $secondColor;
      }

      img {
        padding-right: 9px;
      }
    }

    span {
      color: $primaryColor;
    }
  }

  .header-mid {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 2px solid #F0F0F0;
    border-bottom: 2px solid #F0F0F0;

    form {

      input {
        width: 657px;
        height: 48px;
        border: none;
        border-radius: 15px;
        padding-left: 24px;
        background-color: #FEF6E7;
        background-image: url(../assets/header/mid/MagnifyingGlass.png);
        background-repeat: no-repeat;
        background-position: 96%;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding-left: 32px;
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        padding: 11px 0;

        a {
          display: flex;
          align-items: center;
          color: $secondColor;

          img {
            padding-right: 10px;
          }
        }
      }
    }
  }
}