$primaryColor: #FBB900;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  justify-content: space-around;
  div {
    display: flex;
  }
  span {
    color: $primaryColor;
  }
}

.header-mid {

}

header {
  max-width: 90%;
  margin: 0 auto;
  nav {
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
